<h1>Movies</h1>

<ul>
<% @movies.each do |movie| %>
  <li><strong><%= movie.title %></strong> &#40;<%= movie.rating %>&#41;: <%= number_to_currency(movie.total_gross) %> Total Gross</li>
<% end %>
</ul>

